
<body id="landing">
    <form method="post" action="/login" class="navbar-form navbar-left">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" class="form-control" name="username"></input><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" class="form-control" name="password"><br><br>
        <input type="submit" class="btn btn-warning" value="Log In">
      </div>
    </form>
  
</body>
</html>