<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dance Steps | Login</title>
</head>
<body>
<% unless locals.empty? %>
<div class="alert alert-info" role="alert"><%= message %></div>
<br><br>
<% end %>

 <h4>Create a username and password:</h4>

<form method="post" action="/signup" class="navbar-form navbar-left">
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"></input><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"><br><br>
    <input type="submit" class="btn btn-warning" value="Sign Up">
  </div>
</form>

  
</body>
</html>