<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%=@current_user.username%>'s Dance Steps | Home</title>
</head>
<body>

<h2>Welcome <%=@current_user.username%>! </h2>
  
</body>
</html>